<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
    <link rel="stylesheet" href="../public/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/stylesheets/style.css">

    <script type="text/javascript" src="../public/vendors/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../public/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../public/javascripts/app.min.js"></script>
</head>

<body>
    <div class="calcDisplay">
        <div class="allThings">
            <div class="calcTextbox"></div>
            <div class="calcButtons"></div>
        </div>
    </div>
    <div class="dataDisplay"></div>
</body>
</html>